<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Ed Car Distribuidora</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/Article-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/Article-Dual-Column.css' %}">
    <link rel="stylesheet" href="{% static 'css/Article-List-1.css' %}">
    <link rel="stylesheet" href="{% static 'css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'css/Footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/Header.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md menu">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img src="{% static 'img/edcar-logo.png' %}" style="width: 180px;"></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-3"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-3">
                <ul class="nav navbar-nav mx-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link submenu" href="{% url 'core:home' %}" style="font-weight: bold;">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'core:quem_somos' %}" style="font-weight: bold;">Quem Somos</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'core:contato' %}" style="font-weight: bold;">Contato</a></li>
                </ul><span class="navbar-text"><a class="login" href="/admin" style="color: rgb(255,255,255);font-weight: normal;">Acesso Restrito</a></span></div>
        </div>
    </nav>

    <div class="container" style="max-width:1700px;">
        {% block content %}
        {% endblock %}
    </div>

    <div class="footer-basic">
        <footer>
            <div class="social"><a href="https://www.instagram.com/edcar_distribuidora/?hl=pt-br" target="_blank"><i class="icon ion-social-instagram"></i></a><a href="#" target="_blank"><i class="icon ion-social-facebook"></i></a></div>
            <ul class="list-inline">
                <li class="list-inline-item"><a href="index.html">Home</a></li>
                <li class="list-inline-item"><a href="qemsomos.html">Quem Somos</a></li>
                <li class="list-inline-item"><a href="contato.html">Contato</a></li>
            </ul>
            <p class="copyright">Ed Car © 2020</p>
        </footer>
    </div>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>

</html>