{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container" style="padding: 20px;">
        <div class="row">
            <div class="col-md-6 contact-clean">
                <form method="post">
                    <h2 class="text-center">Fale Conosco</h2>
                    <div class="form-group"><input class="form-control" type="text" name="nome" placeholder="Nome"></div>
                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                    <div class="form-group"><textarea class="form-control" name="mensagen" placeholder="Mensagen" rows="14"></textarea></div>
                    <div class="form-group text-center"><button class="btn btn-primary" type="submit" style="background-color: rgb(222,55,58);">ENVIAR</button></div>
                </form>
            </div>
            <div class="col-md-6 align-self-center m-auto">
                <div class="row justify-content-center align-items-center">
                    <div class="col text-center align-self-center" style="padding: 10px;"><i class="fa fa-whatsapp" style="font-size: 78px;color: #25d366;"></i></div>
                </div>
                <div class="row">
                    <div class="col text-center" style="padding: 10px;"><a href="https://api.whatsapp.com/send?phone=556384400891" target="_blank"><img src="{% static 'img/qrscanner.gif' %}" style="width: 100%;"></a></div>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <h2 class="text-center text-success">Fale diretamente pelo WhatsApp</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}