<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}

{% block content %}
  <div class="projects-horizontal">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Menu</h2>
      </div>
      {% if categorias.count > 0 %}
        <div class="col-md-12 text-center">
          <ul class="nav ftco-tab-nav nav-pills mb-5" id="pills-tab" role="tablist">
            <li class="nav-item ftco-animate fadeInUp ftco-animated">
              <a class="nav-link active" role="tab" aria-selected="true" aria-controls="pills-breakfast" href="{% url 'core:home' %}#div_itens">Todos</a>
            </li>
            {% for categoria in categorias %}
              <li class="nav-item ftco-animate fadeInUp ftco-animated">
                <a class="nav-link" id="{{ categoria.id }}" role="tab" aria-selected="true" aria-controls="pills-breakfast" href="{% url 'core:itens_categoria' categoria.pk %}#div_itens">{{ categoria }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% else %}
        <div class="alert alert-danger d-flex justify-content-center" role="alert">
          <span>Não existem itens registrados</span>
        </div>
      {% endif %}
      {% for categoria in categorias %}
        <div class="row separador" id="separador">
          <div class="col-md-12 d-flex justify-content-center"><span>{{ categoria }}</span></div>
        </div>
        <div class="row projects" id="div_itens">
          {% for item in categoria.itens.all %}
            <div class="col-sm-6 item">
              <div class="row">
                <div class="col-md-12 col-lg-5">
                  {% if item.imagem %}
                    <a href="#"><img class="img-fluid d-flex d-xl-flex justify-content-center"
                                     src="{{ item.imagem.url }}"></a>
                  {% endif %}
                </div>
                <div class="col">
                  <h3 class="name">{{ item.nome }}</h3>
                  <p class="description">{{ item.descricao }}</p>
                  {% if item.mostrar_valor %}
                    <span class="d-flex d-xl-flex justify-content-end justify-content-xl-end span-preco">R$ {{ item.valor }}</span>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}
