{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-12">
        <nav class="navbar navbar-light navbar-expand-md">
            <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-2"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-2">
                    <ul class="nav navbar-nav mx-auto">
                    {% if departamentos.count > 0 %}
                        {% for departamento in departamentos %}
                            <li class="nav-item dropdown">
                                <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">{{ departamento }} </a>
                                <div class="dropdown-menu" role="menu">
                                    {% for categoria in departamento.categorias.all %}
                                        <a class="dropdown-item" role="presentation" href="{% url 'core:itens_categoria' categoria.pk %}">{{ categoria }}</a>
                                    {% endfor %}
                                </div>
                            </li>
                        {% endfor %}
                    {% else %}
                        <div class="alert alert-danger d-flex justify-content-center" role="alert">
                            <span>Não existem produtos registrados</span>
                        </div>
                    {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>

{% if produtos.count > 0 %}
    <div class="text-center">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">Home</li>
            </ol>
        </nav>
    </div>

    <div class="row articles" style="margin-bottom: 30px;">
        {% for produto in produtos %}
            <div class="col-sm-6 col-md-2 text-center item" style="padding:30px;">
                <div class="row img-produto">
                    <a href="#"><img class="img-fluid" src="{{ produto.imagem.url }}"></a>
                </div>
                <div class="row name-produto">
                    <h6 class="name">{{ produto.nome }}</h6>
                </div>
                <div class="row desc-produto">
                    <p class="text-left description">{{ produto.descricao|truncatechars:200 }}</p>
                </div>
                <div class="row icon-produto">
                    <a class="action" href="#">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-danger d-flex justify-content-center" role="alert"> 
        <span>Não existem produtos registrados para essa categoria</span>
    </div>
{% endif %}
{% endblock %}