{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center">
    <h3>{{ categoria.nome }}</h3>
</div>
{% if produtos.count > 0 %}
    <div class="row articles" style="margin-bottom: 30px;">
        {% for produto in produtos %}
            <div class="col-sm-6 col-md-2 text-center item" style="padding:30px;">
                <div class="row img-produto">
                    <a href="#"><img class="img-fluid" src="{{ produto.imagem.url }}"></a>
                </div>
                <div class="row name-produto">
                    <h6 class="name">{{ produto.nome }}</h6>
                </div>
                <div class="row desc-produto">
                    <p class="text-left description">{{ produto.descricao|truncatechars:200 }}</p>
                </div>
                <div class="row icon-produto">
                    <a class="action" href="#">
                        <i class="fa fa-search-plus"></i>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-danger d-flex justify-content-center" role="alert"> 
        <span>Não existem produtos registrados para essa categoria</span>
    </div>
{% endif %}
{% endblock %}