{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                    <div class="text-center intro">
                        <h1 class="text-center">Quem Somos</h1>
                        <img class="img-fluid" src="{% static 'img/desk.jpg' %}">
                    </div>
                    <div class="text">
                        <p style="text-align: justify;">A Ed Car Distribuidora atua no mercado automotivo desde 1996 e se destaca dos demais pelo seu atendimento eficaz, comprometimento, solidez e especialização em som e acessórios para auto.<br></p>
                        <p style="text-align: justify;">Procurando suprir a necessidade de nossos clientes com produtos de qualidade superior e preço justo, de diversos segmentos: loja de som e acessórios, concessionárias, auto elétrico, centros automotivos, entre outros, com excelência.
                            Temos em nosso extenso portifolio, apenas fornecedores com marcas consolidadas que garantem qualidade, segurança e credibilidade.<br></p>
                        <p style="text-align: justify;">Acredimentos que o nosso crescimento está fundamentado nos resultados obtidos por nossos clientes.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}